<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error has been occured.</h1>
        <h3>@ViewBag.ErrorMessage</h3>
        @if (ViewData["RestrictedProducts"] != null)
        {
            foreach (var item in ViewData["RestrictedProducts"] as List<ScaleModelsStore.Models.Product>)
            {
                <h3>
                    You can not buy more than @item.MaxQuantityAvailable unit(s) of @item.ProductName.
                    This product was deleted from your cart!
                </h3>
            }
        }
    </hgroup>
</body>
</html>
